<div id="content" class="p-4 p-md-5" style="margin-left: 16%">
  <div class="btn btn-success" type="button" (click)="addNew()">
    <i class="bi bi-plus-circle"></i>
    {{ 'google-map.register_new_location_button' | translate }}
  </div>
  <div class="lokacije">
    <div class="lokBox" *ngFor="let x of locations">
      <img src="{{ getImage(x.id) }}" class="lokImg" />
      <h5
        class="naziv"
        (click)="viewMore(x.id)"
        style="color: green; font-weight: bold; cursor: pointer"
      >
        {{ x.naziv }}
      </h5>
    </div>
  </div>
  <div
    class="modal mt-5"
    id="mapModal"
    tabindex="-1"
    style="display: block"
    *ngIf="!!showMore"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="mapModalLabel">
            {{ selectedLocation?.naziv }}
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="openClose()"
          ></button>
        </div>
        <div class="modal-body">
          <div id="map"></div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-danger"
            (click)="deleteLocation(selectedLocation?.id)"
          >
            {{ 'google-map.delete_button' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- addNEW -->
  <div
    class="modal mt-5"
    id="mapModal"
    tabindex="-1"
    style="display: block"
    *ngIf="!!openNew"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="mapModalLabel">
            {{ 'google-map.new_location_title' | translate }}
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="openNew = false"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="forma">
            <div class="mb-3">
              <label class="form-label">
                {{ 'google-map.location_name_label' | translate }}
              </label>
              <input type="text" class="form-control" formControlName="name" />
              <div
                *ngIf="forma.get('name')?.invalid && forma.get('name')?.touched"
                class="text-danger"
              >
                {{ 'google-map.location_name_required' | translate }}
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">
                {{ 'google-map.photo_label' | translate }}
              </label>
              <input
                type="file"
                class="form-control"
                (change)="onFileChange($event)"
              />
            </div>
            <div id="mapAdd"></div>
            <div id="coach-mark" class="coach-mark">
              <span class="arrow"></span>
              {{ 'google-map.map_instructions' | translate }}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <app-loading *ngIf="isLoading" class="loading-spinner"></app-loading>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="openNew = false"
          >
            {{ 'google-map.close_button' | translate }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            type="submit"
            (click)="saveChanges()"
          >
            {{ 'google-map.save_button' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
