<style>
  .bmi-advice-section h2 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center; /* Centers the heading */
    color: #198754;
  }
</style>





<div class="priceContent">
  <h1 class="mb-4 text-white" style="text-align: center;">BMI Advice for Our Customers</h1>

  <div class="bmi-advice-section" style="text-align: center;">



    <h2>Personalized BMI Advice</h2>

    <div class ="bmi-category" style="text-align: center;" >
      <h3>Underweight (BMI &lt; 18.5)</h3>
      <p  style="font-size: 20px; line-height: 1.5;text-align: justify" >
        It's important to consult with a healthcare provider to determine any underlying causes of
        being underweight. Consider a balanced diet rich in calories, focusing on whole grains, protein-rich foods,
        and healthy fats. Regular strength training exercises can help build muscle mass.
      </p>
    </div>

    <div class="bmi-category" style="text-align: center;">
      <h3>Normal weight (BMI 18.5 - 24.9)</h3>
      <p  style="font-size: 20px; line-height: 1.5;text-align: justify"  >
        You’re in a healthy weight range. Maintain your weight by eating a balanced diet and staying physically active. Regular cardio and strength training are recommended to keep your body strong and healthy.
      </p>
    </div>

    <div class="bmi-category" style="text-align: center;">
      <h3>Overweight (BMI 25 - 29.9)</h3>
      <p  style="font-size: 20px; line-height: 1.5;text-align: justify"  >
        Consider adopting a healthier diet that focuses on nutrient-dense foods, portion control, and regular exercise. Incorporating both cardio and strength training into your routine will help you manage your weight effectively.
      </p>
    </div>

    <div class="bmi-category" style="text-align: center;">
      <h3>Obese (BMI 30 or higher)</h3>
      <p  style="font-size: 20px; line-height: 1.5;text-align: justify"  >
        It’s important to work closely with a healthcare provider to create a safe and effective weight loss plan. A combination of diet changes, increased physical activity, and behavioral changes is often recommended. Focus on reducing calorie intake while increasing daily physical activity.
      </p>
    </div>
  </div>
</div>
