<style>
  .bmi-advice-section h2 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center; /* Centers the heading */
    color: #198754;
  }
</style>

<div class="priceContent">
  <h1 class="mb-4 text-white" style="text-align: center;" [translate]="'bmi_advice.bmi_advice_title'"></h1>

  <div class="bmi-advice-section" style="text-align: center;">
    <h2 [translate]="'bmi_advice.personalized_bmi_advice'"></h2>

    <div class="bmi-category" style="text-align: center;">
      <h3 [translate]="'bmi_advice.underweight'"></h3>
      <p style="font-size: 20px; line-height: 1.5; text-align: justify;" [translate]="'bmi_advice.underweight_advice'"></p>
    </div>

    <div class="bmi-category" style="text-align: center;">
      <h3 [translate]="'bmi_advice.normal_weight'"></h3>
      <p style="font-size: 20px; line-height: 1.5; text-align: justify;" [translate]="'bmi_advice.normal_weight_advice'"></p>
    </div>

    <div class="bmi-category" style="text-align: center;">
      <h3 [translate]="'bmi_advice.overweight'"></h3>
      <p style="font-size: 20px; line-height: 1.5; text-align: justify;" [translate]="'bmi_advice.overweight_advice'"></p>
    </div>

    <div class="bmi-category" style="text-align: center;">
      <h3 [translate]="'bmi_advice.obese'"></h3>
      <p style="font-size: 20px; line-height: 1.5; text-align: justify;" [translate]="'bmi_advice.obese_advice'"></p>
    </div>
  </div>
</div>
